* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*CSS RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CSS RESET END*/

/*COLOR VARIABLES START*/
:root {
  --main-bg-color: #fff;
  --usual-decorations: #1e3c83;
  --main-text-color: #000;
  --unusual-decor: #1e3c83;
  --subcolor: rgba(255, 255, 255, 0.57);
  --section--title-text: #1b181f;
  --section-subtitles-color: rgba(242, 245, 247, 0.63);
}
/*COLOR VARIABLES END*/

/*COMMONT STYLES START*/
html {
  scroll-behavior: smooth;
}
.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 24px;
  border-radius: 58px;
  background: var(--usual-decorations);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
}
.main_button:hover {
  background-color: #374d83;
  transition: all 0.5s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.71);
}
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  background: transparent;
}
h1 {
  position: relative;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--unusual-decor);
  width: 500px;
  margin-top: 0%;
}
.container {
  max-width: 1620px;
  /* margin: 0 auto; */
  padding-left: 150px;
  padding-right: 150px;
}
h2 {
  padding: 12px 32px;
  border-radius: 33px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #1e3c83;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 28px;
}
.section_subtitle {
  color: var(--section--title-text);
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}
.main_form_wrapper {
  max-width: 500px;
  margin-top: 20px;
  width: 100%;
}
.sub_form {
  max-width: 613px;
  height: 470px;
  width: 100%;
  background-color: var(--unusual-decor);
  padding: 50px;
  border-radius: 32px;
  backdrop-filter: blur(12px);
}
.sub_logo {
  position: absolute;
  bottom: 58px;
  left: 151px;
}
form {
  background-color: transparent;
  max-width: 604px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 10px;
  height: 328px;
}
.main_form_button {
  background-color: white;
  color: #000;
}
.main_form_button:hover {
  background-color: rgba(255, 255, 255, 0.816);
  color: #313131;
}
label {
  position: relative;
  display: inline-block;
  color: white;
  top: 100px;
  font-size: 18px;
  transition: all 0.2s ease;
  z-index: 10;
  position: relative;
  top: -30px;
}

.input-container {
  width: 100%;
  position: relative;
  height: 51px;
}

input[type='text'] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 0 0 5px 0;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(227, 227, 227);
  outline: none;
  z-index: 20;
}
input[type='text']:focus {
  border-bottom: solid 1px white;
}

input[type='text']:focus ~ label,
input[type='text']:valid ~ label {
  top: -60px;
  font-size: 18px;
  color: rgb(253, 253, 253);
}

input[type='tel'] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 0 0 5px 0;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(227, 227, 227);
  outline: none;
  z-index: 20;
}
input[type='tel']:focus {
  border-bottom: solid 1px white;
}

input[type='tel']:focus ~ label,
input[type='tel']:valid ~ label {
  top: -60px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

input[type='email'] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 0 0 5px 0;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(227, 227, 227);
  outline: none;
  z-index: 20;
}
input[type='email']:focus {
  border-bottom: solid 1px white;
}

input[type='email']:focus ~ label,
input[type='email']:valid ~ label {
  top: -60px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form_button {
  font-size: 18px;
  border: 0;
  font-weight: 600;
  padding: 20px 40px;
}
.form_button:hover {
  cursor: pointer;
}

/*COMMONT STYLES END*/
@media (max-width: 1600px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
