.main_picture {
  position: relative;
  background: transparent;
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  flex-direction: column;
}
#video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
}

.running-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 18px 0px;
  z-index: 99;
}
.running-line_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.running-line_text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  white-space: nowrap;
}
.running-line_circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ff8902;
}
.righttoleft {
  animation: righttoleft 25s infinite alternate linear;
}
.main_picture_button {
  margin-bottom: 10svh;
  z-index: 99;
}

.main_content_wrapper {
  display: flex;
  padding: 100px 150px 0 150px;
  height: 100%;
  width: 100%;
}
.main_ask_wrapper {
  width: 45%;
  display: flex;

  align-items: center;
}
.main_ask_box {
  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 527px;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_ask_box_content_wrapper {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_question {
  width: 259px;
}

.main_ask_box_question {
  color: var(--usual-decorations);
  font-family: 'Montserrat';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 38.5px */
  text-transform: uppercase;
}

.main_items_wrapper {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_items_facebook {
  position: relative;
  height: 100%;
  width: 100%;
}
.main_items_image {
  width: 350px;
  height: 236.979px;
  border-radius: 30px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;

  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fst_img {
  position: absolute;
  top: 35%;
  left: 7%;
  z-index: 10;
}
.snd_img {
  position: absolute;
  top: 18%;
  left: 33%;
  z-index: 9;
}
.trd_img {
  position: absolute;
  top: 47%;
  left: 37%;
  z-index: 8;
}

.mySwiperm {
  height: 95px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  z-index: 100;
}
.main_swiper_wrapper {
  height: 95px;
  z-index: 100;
}
svg {
  width: 100%;
}
.main_slide {
  height: 95px;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--usual-decorations);
  min-height: auto;
  font-family: 'Montserrat';
  background: transparent;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: rgb(233, 233, 233);
  text-shadow: 2px 2px 0 var(--usual-decorations), -2px -2px 0 var(--usual-decorations),
    2px -2px 0 var(--usual-decorations), -2px 2px 0 var(--usual-decorations),
    2px 2px 0 var(--usual-decorations);
  cursor: pointer;

  width: fit-content;
}
.swiper-slide-active {
  color: var(--usual-decorations);
  text-shadow: none;
}
@keyframes righttoleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40%);
  }
}
@media (max-width: 1600px) {
  .main_content_wrapper {
    padding: 100px 100px 0 100px;
  }
}
@media (max-width: 580px) {
  .running-line_text {
    font-size: 16px;
    line-height: 130%;
  }
  .running-line {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .running-line_circle {
    height: 14px;
    width: 14px;
  }
}
