.main_picture {
  position: relative;
  background: transparent;
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  flex-direction: column;
}
#video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
}

.running-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 18px 0px;
  z-index: 99;
}
.running-line_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.running-line_text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  white-space: nowrap;
}
.running-line_circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ff8902;
}
.righttoleft {
  animation: righttoleft 25s infinite alternate linear;
}
.main_picture_button {
  margin-bottom: 10svh;
  z-index: 99;
}

.main_content_wrapper {
  display: flex;
  padding: 100px 150px 0 150px;
  height: 100%;
  width: 100%;
}
.main_ask_wrapper {
  width: 45%;
  display: flex;

  align-items: center;
}
.main_ask_box {
  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 527px;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_ask_box_content_wrapper {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_question {
  width: 259px;
}

.main_ask_box_question {
  color: var(--usual-decorations);
  font-family: 'Montserrat';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; 
  text-transform: uppercase;
}

.main_items_wrapper {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_items_facebook {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.main_items_google {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.main_items_em {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.main_items_se {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.main_items_ls {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.images_block_appear {
  visibility: visible;
  opacity: 1;
}
.main_items_image {
  width: 350px;
  height: 236.979px;
  border-radius: 30px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.gg_image,
.fb_img {
  height: 200px;
  width: 450px;
}

.fst_img {
  position: absolute;
  top: 35%;
  left: 4%;
  z-index: 10;
  transition: 0.5s;
}
.snd_img {
  position: absolute;
  top: 15%;
  left: 33%;
  z-index: 9;
  transition: 0.5s;
}
.trd_img {
  position: absolute;
  top: 50%;
  left: 37%;
  z-index: 8;
  transition: 0.5s;
}

.trd_move {
  top: 47%;
  transition: 0.5s;
}
.snd_move {
  top: 18%;
  transition: 0.5s;
}
.fst_move {
  left: 7%;
  transition: 0.5s;
}

.mySwiperm {
  height: 95px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  z-index: 100;
}
.main_swiper_wrapper {
  height: 95px;
  z-index: 100;
}
svg {
  width: 100%;
}
.main_slide {
  height: 95px;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--usual-decorations);
  min-height: auto;
  font-family: 'Montserrat';
  background: transparent;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: #f4f8ff;
  text-shadow: 2px 2px 0 var(--usual-decorations), -2px -2px 0 var(--usual-decorations),
    2px -2px 0 var(--usual-decorations), -2px 2px 0 var(--usual-decorations),
    2px 2px 0 var(--usual-decorations);
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
  transition: all 0.3s;
}
.swiper-slide-active {
  color: var(--usual-decorations);
  text-shadow: 2px 2px 0 #f4f8ff, -2px -2px 0 #f4f8ff, 2px -2px 0 #f4f8ff, -2px 2px 0 #f4f8ff,
    2px 2px 0 #f4f8ff;
}
.mob_main {
  display: none;
  background-color: #ffffff;
  height: 550px;
}
.mob_main_wrapper {
  padding: 20px;
  height: 100%;
  width: 100%;
}
@keyframes righttoleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40%);
  }
}
@media (max-width: 1600px) {
  .main_content_wrapper {
    padding: 100px 100px 0 100px;
  }
}
@media (max-width: 580px) {
  .running-line_text {
    font-size: 16px;
    line-height: 130%;
  }
  .running-line {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .running-line_circle {
    height: 14px;
    width: 14px;
  }
}
.display_none {
  display: none;
  transition: all 0.3s;
}
@media (min-width: 1700px) {
  .main_items_image {
    width: 500px;
    height: 320px;
  }
  .gg_image,
  .fb_img {
    height: 280px;
    width: 600px;
  }

  .fst_img {
    position: absolute;
    top: 32%;
    left: 0%;
    z-index: 10;
    transition: 0.5s;
  }
  .snd_img {
    position: absolute;
    top: 13%;
    left: 29%;
    z-index: 9;
    transition: 0.5s;
  }
  .trd_img {
    position: absolute;
    top: 48%;
    left: 33%;
    z-index: 8;
    transition: 0.5s;
  }

  .trd_move {
    top: 45%;
    transition: 0.5s;
  }
  .snd_move {
    top: 14%;
    transition: 0.5s;
  }
  .fst_move {
    left: 3%;
    transition: 0.5s;
  }
}
@media (max-width: 1290px) {
  .main_content_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main_ask_wrapper {
    width: 40%;
  }
  .main_items_wrapper {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .gg_image,
  .fb_img {
    height: 150px;
    width: 335px;
  }
}

@media (max-width: 1100px) {
  .main_ask_box_question {
    font-size: 25px;
  }
}
@media (max-width: 950px) {
  .mob_main {
    display: block;
  }
  .main_items_wrapper {
    display: none;
  }
  .mob_items_wrapper {
    display: block;
  }
  .main_ask_wrapper {
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
  .main_ask_box {
    background: transparent;
    box-shadow: none;
    height: auto;
  }
  .main_ask_box_question {
    font-size: 27px;
  }
  .mySwiperm {
    display: none;
  }
  .main_picture {
    height: auto;
  }
  .wrap_detectors {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mob_main_wrapper {
    padding-top: 50px;
  }
  .wrap_3 {
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }
  .wrap_2 {
    margin: 0 auto;
    display: flex;
    gap: 10px;
  }
  .main_ask_box_content_wrapper {
    height: auto;
    gap: 30px;
    justify-content: flex-start;
  }
  .mob_items_wrapper {
    padding: 20px;
    height: calc(100% - 95px);
    width: 100%;
  }
  .main_items_image {
    height: 200px;
    width: 350px;
  }
  .gg_image,
  .fb_img {
    height: 200px;
    width: 450px;
  }
  
  .text_detecrot {
    width: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5.1px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
    padding: 10px;
    white-space: nowrap;
    transition: all 0.3s;
    cursor: pointer;
  }
  .text_detecrot:hover {
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.5);
    box-shadow: 0px 0px 5.1px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
    transition: all 0.3s;
  }
  .superactive {
    background: #1e3c83;
    color: #fff;
    transition: 0.3s all;
  }
  .superactive:hover {
    background: #1e3c83;
    color: #fff;
    transition: 0.3s all;
  }
  video {
    display: none;
  }
}
@media (max-width: 780px) {
  .main_items_image {
    height: 170px;
    width: 250px;
  }
  .gg_image,
  .fb_img {
    height: 130px;
    width: 280px;
  }


  .fst_img {
    top: 56%;
    left: 0;
  }
  .snd_img {
    top: 19%;
    left: auto;
    right: 0;
  }

  .fst_move {
    top: 49%;
  }
  .snd_move {
    left: 27%;
  }
}
@media (max-width: 558px) {
  .fst_img {
    top: 56%;
    left: 0;
  }
  .snd_img {
    top: 10%;
    right: 0;
    left: auto;
  }
}
@media (max-width: 400px) {
  .main_ask_box_content_wrapper {
    padding: 0;
  }
  .mob_items_wrapper {
    padding: 0;
  }
  .fst_img {
    top: 60%;
    left: 0%;
  }
  .snd_img {
    top: 15%;
    left: auto;
    right: 0;
  }

  .fst_move {
    top: 60%;
  }
  .snd_move {
    left: 20%;
  }
}
