.rev {
  width: 100%;
}
.rev_wrapper {
  width: 100%;
  padding: 0px 150px 100px 150px;
}

.rev_items_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.rev_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 33%;
  height: 100%;
}
.rev_img_wrap {
  height: 100px;
  width: auto;
  margin-bottom: 24px;
}
.rev_img {
  height: 100%;
  width: auto;
}
.rev_comp {
  color: #111;

  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 8px;
}
.rev_place {
  color: rgba(0, 0, 0, 0.6);

  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 15px;
}
.rev_rev {
  color: #111;
  font-family: 'Montserrat';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
@media (max-width: 1500px) {
  .rev_wrapper {
    width: 100%;
    padding: 0px 100px 100px 100px;
  }
}
@media (max-width: 1300px) {
  .rev_wrapper {
    width: 100%;
    padding: 0px 20px 100px 20px;
  }
  .rev_rev {
    font-size: 20px;
  }
  .rev_img_wrap {
    height: 60px;
  }
}
@media (max-width: 870px) {
  .rev_wrapper {
    padding: 0px 20px 60px 20px;
  }
  .rev_items_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 40px;
  }
  .rev_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }
}
