.sub {
  width: 100%;

  margin-top: 100px;
  min-height: 516px;
  padding: 100px 150px;
  position: relative;
}
.sub_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub_content_text {
  font-size: 52px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.52px;
  max-width: 605px;
  color: var(--main-text-color);
  white-space: nowrap;
}

.deco_line_wrapper {
  padding: 10px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.sub_deco_line {
  width: 100%;
  height: 1px;
  background-color: #707070;
  margin: 0 auto;

  z-index: 90;
}
@media (max-width: 1500px) {
  .sub {
    padding: 100px 100px;
  }
  .deco_line_wrapper {
    padding: 10px 100px;
  }
  .sub_logo {
    left: 101px;
  }
}
@media (max-width: 1340px) {
  .sub_wrapper {
    gap: 20px;
  }
  .deco_line_wrapper {
    padding: 10px 20px;
  }
  .sub_content_text {
    font-size: 32px;
  }
}
@media (max-width: 1000px) {
  .sub {
    margin-top: 60px;
  }
}
@media (max-width: 900px) {
  .sub_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .sub {
    padding: 60px 20px;
  }
  .sub_content_text {
    text-align: center;
  }
}
